<form class="signup" action="/user/create" method="POST">
  <h2>Sign-up</h2>
  <% if(flash && flash.err){ %>
    <div class="flash-errors">
  <% Object.keys(flash.err).forEach(function(error){ %>
    <p><%- JSON.stringify(flash.err[error])%></p>
  <% }) %>
    </div>
  <% } %>

  <label for="username">Username</label>
  <input type="text" placeholder="Username" name="username" /><br />

  <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" ><br />

  <label for="confirmation">Password Confirmation</label>
  <input type="password" placeholder="Password confirmation" name="confirmation" ><br />

  <input type="submit" value="Create Account" />

  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>