/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, em, img,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, label, input, textarea, select, button,
table, caption, thead, tbody, tfoot, tr, th, td {
	border: none;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { line-height: normal; font-weight: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }

img { display: block; max-width: 100%; }
html { height: 100%; }

/* clearfixes */
.clear:after,
.wrapper:after,
nav ul:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* styles */
body {
	background: #fff;
	color: #666;
	font: 24px/21px 'Garogier', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover { color: #252525; }

p {
	margin-bottom: 20px;
}

h1 {
	color: #666;
	font-size: 48px;
}
h2 {
	color: #666;
	font-size: 30px;
}

/* forms */
input,
select,
textarea {
	background: #fff;
	border: 1px solid #ccc;
	color: #f06;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding: 12px 20px;
	width: 50%;
}
form label {
	display: none;
}


/* header */
header {
	background-color: rgba(255,255,255,.80);
	height: 50px;
	left: 0;
	position: absolute;
	margin: 20px;
	top: 0;
	width: 100%;
	z-index: 3;
}
header nav ul {
	position: relative;
	display: block;
	margin-bottom: 20px;
	left: 100px;
	top: -20px;
}
header nav ul li {
	display: inline;
}

div.container {
	margin: 80px auto 0;
	width: 90%;
}


